<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
​
	<body>
		<p>
		Hi,
		</p>
		<p>
			I noticed you’ve signed up to Bloomsource. I just wanted to say thanks and let you know we’re here to answer any questions.
		 </p>
		 <p>
			Hopefully you’ve already had a chance to explore our <a href="http://bloomsource.co/">Startup Library</a>. If not, a great place to start are our <a href="http://bloomsource.co/courses">crash courses</a>. Don’t forget to suggest new links and upvote the ones you like!
		 </p>
			<p>
		We genuinely value your feedback. So please don’t hesitate to get in contact with us <a href="mailto:getbloomsource@gmail.com">via email</a> or <a href="https://twitter.com/bloomsource">via Twitter @Bloomsource</a>, even if it’s just to say Hi!
		 </p>
		 <p>
		Why not spread the wealth? Let your friends and colleagues know about our free Startup Library. <a href="https://twitter.com/home?status=Check%20out%20the%20awesome%20Startup%20Library%20made%20by%20the%20folks%20at%20Bloomsource,%20it%27s%20all%20free!%20http%3A//bloomsource.co/">Click here to tweet it</a> or <a href="mailto:?subject=Check%20out%20the%20Bloomsource%20Startup%20Library&body=Hey%2C%0A%0AI%20just%20signed%20up%20to%20the%20Bloomsource%20Startup%20Library%2C%20you%20should%20check%20it%20out.%20It%20has%20lots%20of%20great%20content%20on%20startups%20and%20entrepreneurship%2C%20and%20it%E2%80%99s%20all%20for%20free.%0A%0Ahttp%3A%2F%2Fbloomsource.co%2F%20%0A%0ABest%2C">click here to email them</a>. (Cool little email hack, right? <a href="http://okdork.com/2014/06/18/the-samuel-l-jackson-marketing-hack/">Learn how to do it here</a>.)
		 </p>
		 <p>
			Thanks for trying Bloomsource,
		 </p>
		 <p>
			- Sebastien and the Bloomsource team
		 </p>
		 <p>
			_____
		 </p>
		 <p>
			<a href="http://bloomsource.co/">http://bloomsource.co/</a>
		 </p>
		 <p>
			Follow us on <a href="https://www.facebook.com/Bloomsource">Facebook</a> / <a href="https://twitter.com/bloomsource">Twitter</a> / <a href="https://medium.com/bloomsource-library">Medium</a>
		 </p>
	</body>
</html>