<div class="row">
	<div class="intro">
		<div class="library-intro">
			<div class="library-intro-header">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<h1>Startup Crash Courses</h1>
					<h3 class="library-intro-desc">Our crash courses give you a short and concise intro on the most important startup topics</h3>
				</div>
			</div>
			<div class="library-intro-banner">
				<div class="col-xs-12 col-lg-10 col-lg-offset-1">
					<div class="share-wrapper">
						<span><span class="strong">Share</span> via</span>
						<%= render '/shared/social' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="courses-wrapper">
		<a href="#" class="course cr-1">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h2 class="course-title">Entrepreneurship</h2>
				<p class="course-description">What you absolutely need to know about Entrepreneurship in 3 hours.</p>
			</div>
		</a>
		<a href="#" class="course cr-2">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h2 class="course-title">Founder Stories</h2>
				<p class="course-description">Learn from the success and faliures of other startups.</p>
			</div>
		</a>
		<a href="#" class="course cr-3">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h2 class="course-title">Validating your idea</h2>
				<p class="course-description">All you need to know about customer development before getting out of the building, in 2 hours.</p>
			</div>
		</a>
		<a href="#" class="course cr-4">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h2 class="course-title">Design Fundamentals</h2>
				<p class="course-description">Understand most basic design concepts in 30 minutes and get a curated list of tools you can use to drastically improve your design.</p>
			</div>
		</a>
		<a href="#" class="course cr-5">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h2 class="course-title">Pitching</h2>
				<p class="course-description">Everything you need to prepare for a pitch in 2.5 hours.</p>
			</div>
		</a>
		<a href="#" class="course cr-6">
			<div class="col-xs-12 col-lg-10 col-lg-offset-1">
				<h2 class="course-title">Productivity</h2>
				<p class="course-description">The best free tools to save huge amounts fo time in your daily work.</p>
			</div>
		</a>
	</div>
</div>